<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="8a60e3">  <td>18/05/11 09:13:16</td>   <td>0</td> <td>&nbsp;</td><td title="&gt;&gt;SeleniumTest.beforeTest()[pri:0, instance:com.javatpoint.SeleniumTest@91161c7]">&gt;&gt;beforeTest</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1225439493</td>   <td></td> </tr>
<tr bgcolor="8a60e3">  <td>18/05/11 09:13:16</td>   <td>118</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SeleniumTest.testEasy()[pri:0, instance:com.javatpoint.SeleniumTest@91161c7]">testEasy</td> 
  <td>main@1225439493</td>   <td></td> </tr>
</table>
